@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.content-holder{
    height: 830px;
}

nav{
    margin-top: 30px;
    margin-left: 30px;
}

.navbar-brand img{
    width: 400px;
    height: 80px;
}

.selection-image, .input-image{
    width: 30px;
}

.input-text{
    background-color: rgb(187, 187, 187);
    width: 600px;
    height: 60px;
    margin-left: 50px;
    text-align: center;
}

.selection{
    display: flex;
    flex-direction: row;
}

.selection-image img{
    background-color: orange;
    width: 70px;
    height: 60px;
}

.input-image img{
    height: 60px;
    padding: 5px;
}

.input-text p{
    font-weight: bold;
    font-size: 40px;
    color: grey;
}

.input-image{
    background-color: orange;
    margin-left: 10px;
    width: max-content;
    border-radius: 60px;
    cursor: pointer;
}

.input-image:hover{
    background-color: rgb(6, 196, 6);
}

.main-content{
    margin-left: 200px;
    margin-top: 70px;
}

h2{
  font-size: 40px;
  font-weight: 100px;
  margin-bottom: 20px;
  color: grey;
}

.radio-selection{
    display: none;
    background-color: rgb(187, 187, 187);
    width: 600px;
    margin-left: 80px;
    margin-top: 5px;
    padding: 10px;
}

.form-check{
    padding: 10px;
    cursor: pointer;
    padding-left: 50px;
}

.form-check:hover{
    background-color: rgb(151, 151, 151);
}

.main-section{
    display: flex;
    flex-direction: row;
}

.form-check p{
    float: right;
}

.all-products{
    margin-bottom: 20px;
}

.display-banner img{
    width: 600px;
}

.main-section{
    width: 80%;
}

.display-section{
    margin-left: 70px;
}

.display-order{
    width: max-content;
    border: 2px solid rgb(162, 162, 162);
}

.btn-1{
    width: 200px;
    margin-top: 20px;
    margin-left: 270px;
}

.btn-2{
    width: 250px;
    margin-top: 20px;
    margin-left: 180px;
}

.side{
    border: 2px solid rgb(197, 197, 197);
    border-radius: 5px;
    color: grey;
    margin: 5px;
    padding-top: 10px;
}

.side>ul>li>span{
    padding: 6px;
}

.footer-logo img{
    width: 100px;
}

.footer-logo{
    text-align: center;
    padding-top:30px
}

.footer-icons{
    text-align: right;
    padding :20px;
    padding-right: 80px;
    font-size: 30px;

}

.footer-text{
    padding-top: 30px;
    padding-left: 30px;
    color: rgb(109, 109, 109);
}

.footer-icons i{
    margin-right: 20px;
}


.footer-icons i:hover{
    color: green;
    cursor: pointer;
}

